body {
  background: rgb(37, 78, 90);
}

div {
  color: #abccfc;
  position: fixed 0 0 0;
}

:root {
  --mainColor: red;
}

a {
  color: var(--mainColor);
}

img {
  height: 200px;
  width: 200px;
  border: 1px solid red;
}